*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body{
    background-color: #ffffff;
    overflow-y: scroll;
    
  }
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    color: rgb(214, 214, 214);
    font-style: oblique 23deg;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;

  }
  
  /* header style */
  .page .header{
    text-align: center;
    font-family: ti;
    font-size: larger;
  }
  
  .page .header .logo, 
  .page .header p, 
  .page .header button{
    margin-bottom: 15px;

  }
 
  .page .header > p{
    font-weight: bold;
    color: #b9b9b9;
    font-size: 18px; 
     
  }
  
  
  .page .header div p{
    padding: 0 20px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  
  .page .header div hr{
    width: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
  }
  
  /* container style*/
  .page .container{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(184, 184, 184);
    font-style: oblique;
  }
  
  .page .container form, input{
    background-color: #bfcad1;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
  
 
  
  .page .container form input:last-of-type{
    margin-bottom: 10px; 

  }
 
  
  .page .container ul{
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
   
  }
  
  
  .page .container ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #c0c0c4;
   
  }
  .option{

    background-color: white;
    height: 70px;
    display: flex; 
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfdfdf;
    
    width: 450px;
    margin: 40px 40px 10px 40px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/628/123/non_2x/vector-background-in-the-concept-of-technology.jpg);
    
  }

  /* Mobile Styles */
  
  @media only screen and (max-width: 400px) {
      body {
          font-family: Freight Sans
      }
    
    .page{
      width: 250px;
      background-color: #ffffff;
    }
    
    .page .header{
      width: inherit;
      margin-top: 10px;
    }
    
    .page .container{
      width: inherit;
      
    }
    
    
    
    .page .container input{
      padding: 10px 5px;
      margin: 5px 0;
    }
    
    .page .footer{
      width: inherith
    }
  }
  
  @media only screen and (min-width: 401px){
      body {
          font-family: Neue Helvetica
      }
    .page{
      border: 1px solid #000000;
      width: 450px;
      background-color: white;
      margin: 40px 40px 10px 40px;
      background-image: url(https://static.vecteezy.com/system/resources/previews/000/628/123/non_2x/vector-background-in-the-concept-of-technology.jpg);
    }
    
    .page .header{
      width: 270px;
      margin-top: 15px;
    }
    
    .page .container{
      width: 270px;
    }
    
    .option{

      background-color: white;
      height: 70px;
      display: flex; 
      align-items: center;
      justify-content: center;
      border: 1px solid #dfdfdf;
      width: 450px;
      margin: 40px 40px 10px 40px;
      background-image: url(https://static.vecteezy.com/system/resources/previews/000/628/123/non_2x/vector-background-in-the-concept-of-technology.jpg);
      
    }
    
    .otherapps{
      margin: 20px 0;
    }
    
    .otherapps button{
      margin-right: 5px;
      
    }
    
    .otherapps button:after-of-type{
      margin-right: none;
    }
    
    .page .footer{
      width: 100%;
    }
  }
  