body {
  color: #666;  
}

article {
  max-width: 600px;
  margin: 60px auto;
  padding: 16px;
}

h3 {
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 32px;
}

a {
  color: darken(skyblue, 5%);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    border-bottom: 1px solid skyblue;
  }
}

.comments-wrapper {
  border-top: 1px solid #eee;
  padding-top: 32px;
  
  h2 {
    a {
      text-decoration: none;
      font-size: 14px;
      float: right;
      font-weight: 400;
    }
  }
}

/** COMMENTS FORM **/
.comments-form {
  .field-wrapper {
    margin-bottom: 16px;  
  }
  
  label {
    display: inline-block;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    padding-left: 5px;
  }
  
  input[type="text"],
  textarea {
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: none;
    display: block;
    clear: both;
    outline: none;
    padding: 8px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    
    &:focus {
      background-color: lighten(#eee, 5%);
    }
  }
  input[type="text"] {
    height: 40px;
    line-height: 40px;
    max-width: 340px;
  }
  textarea {
    height: 150px;
  }
}

.btn {
  background-color: darken(skyblue, 15%);
  border: 1px solid darken(skyblue, 15%);
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  padding: 12px 24px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  
  &:hover, &:focus {
    background-color: darken(skyblue, 10%);
    border: 1px solid darken(skyblue, 25%);
  }
}

/** COMMENTS **/
.comments {
  list-style-type: none;
  overflow: hidden;
  margin: 32px auto;
  padding: 0;
  
  * {
    box-sizing: border-box;
  }
  
  li {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 16px;
  }
}

.comment-author-meta {
  display: block;
  float: none;
  clear: both;
  padding: 10px 16px;
  background-color: #ebebeb;
  overflow: hidden;
  
  .avatar {
    width: 40px;
    height: 40px;
    background-color: skyblue;
    padding: 3px;
    border-radius: 100%;
    float: left;

    img {
      width: 100%;
    }
  }
  
  .user {
    float: left;
    height: 40px;
    padding: 13px;
  }
  
  .delete-comment {
    color: red;
    cursor: pointer;
    float: right;
    font-size: 120%;
  }
}
.comment-meta {
  background-color: #eee;
  padding: 5px 16px;
  font-size: 12px;
  color: #888;
  
  span {
    &:first-child {
      padding-right: 8px;
      margin-right: 8px;
      border-right: 1px solid #888;
    }
  }
  
  a {
    float: right;
    color: darken(skyblue, 10%);
  }
}

.comment-text {
  float: none;
  clear: both;
  padding: 0 16px 16px;
  border: 1px solid #eee;
  background-color: lighten(#eee, 5%);
}

/* VUE.JS Transitions */
// comments-list
.fade-up-enter-active, .fade-up-leave-to {
  transition: all .3s ease-in-out;
  opacity: 0.75;
}
.fade-up-enter, .fade-up-leave-to {
  opacity: 0;
  transform: translateY(-32px);
}


// dashboard for projects
  


  @import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
  $bg: #1b2431;
  $light-text: #738297;
  $dark-text: #273142;
  $light-bg: #313D4F;

 
  .projects {
    background-color: $dark-text;
    border: 1px solid $light-bg;
    overflow-x: auto;
    width: 100%;
    
    &-inner {
      border-radius: 4px;
    }
  }
  
  .projects-header {
    color: white;
    padding: 22px;
  
    .count,
    .title {
      display: inline-block;
    }
    
    .count {
      color: #738297;
    }
    
    .zmdi {
      cursor: pointer;
      float: right;
      font-size: 16px;
      margin: 5px 0;
    }
    
    .title {
      font-size: 21px;
      
      + .count {
        margin-left: 5px;
      }
    }
  }
  
  .projects-table {
    background: #273142;
    width: 100%;
    
    td,
    th {
      color: white;
      padding: 10px 22px;
      vertical-align: middle;
    }
    
    td p {
      font-size: 12px;
      
      &:last-of-type {
        color: $light-text;
        font-size: 11px;
      }
    }
    
    th {
      background-color: $light-bg;
    }
    
    tr {
      &:hover {
        background-color: lighten($dark-text, 5%);
      }
      
      &:not(:last-of-type) {
        border-bottom: 1px solid $light-bg;
      }
    }
    
    .member {
      figure,
      .member-info {
        display: inline-block;
        vertical-align: top;
      }
      
      figure + .member-info {
        margin-left: 7px;
      }
      
      img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
      }
    }
    
    .status > form {
      float: right;
    }
    
    .status-text {
      display: inline-block;
      font-size: 12px;
      margin: 11px 0;
      padding-left: 20px;
      position: relative;
      
      &:before {
        border: 3px solid;
        border-radius: 50%;
        content: "";
        height: 14px;
        left: 0;
        position: absolute;
        top: 1px;
        width: 14px;
      }
      
      &.status-blue:before {
        border-color: #1C93ED;
      }
      
      &.status-green:before {
        border-color: #66B92E;
      }
      
      &.status-orange:before {
        border-color: #DA932C;
      }
      
      &.status-red:before {
        border-color: #D65B4A;
      }
    }
  }
  // selectric plugin styling
  .selectric {
    background-color: transparent;
    border-color: $light-bg;
    border-radius: 4px;
    .label {
      color: $light-text;
      line-height: 34px;
      margin-right: 10px;
      text-align: left;
    }
    &-wrapper {
      float: right;
      width: 150px;
    }
  }
  
  

